/* .button_icon {
    margin: 5px;
}

.button_icon--stert {
    margin-right: 30px;
} */

/* .alert {
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    background-color: aliceblue;
    color: blue;
    margin: 20px;
    box-shadow: 5px 5px 10px -3px grey;
    text-align: center;
}

.alert--success {
    background-color: green;
    color: #fff;
}

.alert--error {
    background-color: red;
    color: #fff;
}

.alert--warning {
    background-color: orange;
    color: black;
} */